<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="profile.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700&display=swap" rel="stylesheet">
    <title><%=User[0].name%></title>
</head>
<body>
    <div class="container">
        <div class="name">Hey, <%=User[0].name%></div>
        <div class="main">
            <table>
                <tr>
                  <th></th>
                  <th>Prime</th>
                  <th>Hotstar</th>
                  <th>Voot</th>
                  <th>Zee5</th>
                  <th>Sony Liv</th>
                </tr>
                <tr>
                  <td class="plan">Previous Plans</td>
                  <td class="prev_prime"></td>
                  <td class="prev_hotstar"></td>
                  <td class="prev_voot"></td>
                  <td class="prev_zee5"></td>
                  <td class="prev_sonyliv"></td>
                </tr>
                <tr>
                  <td class="plan">Current plans</td>
                  <td class="curr_prime">✅</td>
                  <td class="curr_hotstar">✅</td>
                  <td class="curr_voot">✅</td>
                  <td class="curr_zee5">❎</td>
                  <td class="curr_sonyliv">❎</td>
                </tr>
              </table>

              <div class="plan new_plan" onclick="link()">Buy Plan</div>
        </div>
    </div>

    <script>

      function link() {
        window.location.assign("http://localhost:5000/plans");
      }

      let prime = '<%-Previous.prime%>'
      let hotstar = '<%-Previous.hotstar%>'
      let voot = '<%-Previous.voot%>'
      let zee5 = '<%-Previous.zee5%>'
      let sonyliv = '<%-Previous.sonyliv%>'
      let date = new Date();
      let date_hot = new Date(hotstar);
      let date_pri = new Date(prime);
      let date_voo = new Date(voot);
      let date_son = new Date(sonyliv);
      let date_zee = new Date(zee5);
      date2 = new Date();
      date2 = new Date(date2);
      console.log(date);

      var abs;

      if (prime == '') {
        document.querySelector('.prev_prime').innerHTML = "❎";
        document.querySelector('.curr_prime').innerHTML = "❎";
      }

      else
      {
        document.querySelector('.prev_prime').innerHTML = prime;

        abs = Math.abs(date_pri - date2);
        abs = abs/(1000*3600*24)
        console.log(abs);

        if (abs > 5) {
          document.querySelector('.curr_prime').innerHTML = "❎";
        }

        else
        {
          document.querySelector('.curr_prime').innerHTML = "✅";
        }
      }

      if (hotstar == '') {
        document.querySelector('.prev_hotstar').innerHTML = "❎";
        document.querySelector('.curr_hotstar').innerHTML = "❎";
      }

      else
      {
        document.querySelector('.prev_hotstar').innerHTML = hotstar.slice(0, 15);
        abs = Math.abs(date_hot - date2);
        abs = abs/(1000*3600*24)
        console.log(abs);

        if (abs > 5) {
          document.querySelector('.curr_hotstar').innerHTML = "❎";
        }

        else
        {
          document.querySelector('.curr_hotstar').innerHTML = "✅";
        }
      }

      if (voot == '') {
        document.querySelector('.prev_voot').innerHTML = "❎";
        document.querySelector('.curr_voot').innerHTML = "❎";
      }

      else
      {
        document.querySelector('.prev_voot').innerHTML = voot;
        abs = Math.abs(date_voo - date2);
        abs = abs/(1000*3600*24)
        console.log(abs);

        if (abs > 5) {
          document.querySelector('.curr_voot').innerHTML = "❎";
        }

        else
        {
          document.querySelector('.curr_voot').innerHTML = "✅";
        }
      }

      if (zee5 == '') {
        document.querySelector('.prev_zee5').innerHTML = "❎";
        document.querySelector('.curr_zee5').innerHTML = "❎";
      }

      else
      {
        document.querySelector('.prev_zee5').innerHTML = zee5;
        abs = Math.abs(date_zee - date2);
        abs = abs/(1000*3600*24)
        console.log(abs);

        if (abs > 5) {
          document.querySelector('.curr_zee5').innerHTML = "❎";
        }

        else
        {
          document.querySelector('.curr_zee5').innerHTML = "✅";
        }
      }

      if (sonyliv == '') {
        document.querySelector('.prev_sonyliv').innerHTML = "❎";
        document.querySelector('.curr_sonyliv').innerHTML = "❎";
      }

      else
      {
        document.querySelector('.prev_sonyliv').innerHTML = sonyliv;
        abs = Math.abs(date_son - date2);
        abs = abs/(1000*3600*24)
        console.log(abs);

        if (abs > 5) {
          document.querySelector('.curr_sonyliv').innerHTML = "❎";
        }

        else
        {
          document.querySelector('.curr_sonyliv').innerHTML = "✅";
        }
      }

    </script>
</body>
</html>